<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="UTF-8">

    <title>ログイン画面</title>
  </head>
  <body>
    <div class="main-contents">
      <div th:if="${errorMessageForm}" class="alert alert-error alert-dismissible fade show" role="alert">
        <strong th:text="${errorMessageForm}"></strong>
      </div>

      <form th:action="loading" th:method="post" th:object="${formModel}"><br />
        <label for="account">アカウント</label>
        <input name="account" id="account"/> <br />

        <label for="password">パスワード</label>
        <input name="password" th:type="password" id="password"/> <br />

        <input type="submit" value="ログイン" /> <br />
      </form>
    </div>



  </body>
</html>