<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <link th:href="@{/css/style.css}" rel="stylesheet">
        <title>新規投稿</title>
    </head>
    <body>
        <div class="header-contents">
            <h2>-New post-</h2>
        </div><br/>

        <div th:if="${errorMessageForm}" class="alert alert-error alert-dismissible fade show" role="alert">
            <strong th:text="${errorMessageForm}"></strong>
        </div>

        <div class="main-contents-message" th:object="${formModel}">
            <form th:method="post" th:action="@{/addMessage}" th:object="${messageInfo}">
                <input type="submit" value="投稿" class="message-button1" style="margin:0px; float:right;"/>
                    <label>件名
                        <input type="text" th:field="*{title}" placeholder="30文字以内で入力"/><br/>
                    </label>
                    <div th:if="${#fields.hasErrors('title')}" style="color:red;" th:errors="*{title}"></div>

                    <label>カテゴリ
                        <input type="text" th:field="*{category}" placeholder="10文字以内で入力"/><br/>
                    </label>
                    <div th:if="${#fields.hasErrors('category')}" style="color:red;" th:errors="*{category}"></div>

                    <label>本文</label><br/>
                    <textarea class="tweet-box" th:field="*{text}" cols="100" rows="10" placeholder="1000文字以内で入力"></textarea><br/>
                    <div th:if="${#fields.hasErrors('text')}" style="color:red;" th:errors="*{text}"></div>
            </form>
            <form th:action="@{/home}">
                <input type="submit" value="戻る" class="message-button2"/>
                <!---->
            </form>
        </div>
    </body>
</html>