<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <title>sing_Up</title>
</head>
<body>
<div class="header-contents">
    <h1>ユーザー登録画面</h1>
</div>

<div th:if="${errorMessageForm}" class="alert alert-error alert-dismissible fade show" role="alert">
    <strong th:text="${errorMessageForm}"></strong>
</div>

<div class="main-contents">
    <!-- actionのURLがPOSTMappingと違うと上手くいかない -->
    <form th:action="@{/insert}" th:object="${formModel}" th:method="post">
        <!--  ユーザー登録 -->
        <label>アカウント<br/>
            <input type="text" th:field="*{account}" class="form-control"></label><br/>

        <label>パスワード<br/>
            <input type="text" th:field="*{password}" class="form-control"></label><br/>

        <label>パスワード確認<br/>
            <input type="text" th:field="*{password}" class="form-control"></label><br/>

        <label>氏名<br/>
            <input type="text" th:field="*{name}" class="form-control"></label><br/>

        <label>支社<br/>
            <input type="text" th:field="*{branchId}" class="form-control"></label><br/>

        <label>部署<br/>
            <input type="text" th:field="*{departmentId}" class="form-control"></label><br/>

        <form th:action="@{/home}">
            <button type="submit">よろしくおねがいしまーーーーす！！</button>
            <input type="submit" value="戻る"/>
        </form>
    </form>
</div>
</body>
</html>